<h1>Editing Service Beneficiaire</h1>

<%= render 'form', service_beneficiaire: @service_beneficiaire %>

<%= link_to 'Show', @service_beneficiaire %> |
<%= link_to 'Back', service_beneficiaires_path %>
